/dts-v1/;

/include/ "kirkwood.dtsi"
/include/ "kirkwood-6282.dtsi"

/ {
	model = "ZyXEL NSA325";
	compatible = "zyxel,nsa325", "marvell,kirkwood-88f6282", "marvell,kirkwood";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x20000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	ocp@f1000000 {
		pinctrl: pinctrl@10000 {
			pmx_led_sata2_green: pmx-led-sata2-green {
				marvell,pins = "mpp12";
				marvell,function = "gpo";
			};

			pmx_led_sata2_red: pmx-led-sata2-red {
				marvell,pins = "mpp13";
				marvell,function = "gpio";
			};

			pmx_led_mcu_data: pmx-led-mcu-data {
				marvell,pins = "mpp14";
				marvell,function = "gpio";
			};

			pmx_led_usb_green: pmx-led-usb-green {
				marvell,pins = "mpp15";
				marvell,function = "gpio";
			};

			pmx_led_mcu_clk: pmx-led-mcu-clk {
				marvell,pins = "mpp16";
				marvell,function = "gpio";
			};

			pmx_led_mcu_act: pmx-led-mcu-act {
				marvell,pins = "mpp17";
				marvell,function = "gpio";
			};

			pmx_usb_power_off: pmx-usb-power-off {
				marvell,pins = "mpp21";
				marvell,function = "gpio";
			};

			pmx_led_sys_green: pmx-led-sys-green {
				marvell,pins = "mpp28";
				marvell,function = "gpio";
			};

			pmx_led_sys_orange: pmx-led-sys-orange {
				marvell,pins = "mpp29";
				marvell,function = "gpio";
			};

			pmx_btn_reset: pmx-btn-reset {
				marvell,pins = "mpp36";
				marvell,function = "gpio";
			};

			pmx_btn_copy: pmx-btn-copy {
				marvell,pins = "mpp37";
				marvell,function = "gpio";
			};

			pmx_led_copy_green: pmx-led-copy-green {
				marvell,pins = "mpp39";
				marvell,function = "gpio";
			};

			pmx_led_copy_red: pmx-led-copy-red {
				marvell,pins = "mpp40";
				marvell,function = "gpio";
			};

			pmx_led_sata1_green: pmx-led-sata1-green {
				marvell,pins = "mpp41";
				marvell,function = "gpio";
			};

			pmx_led_sata1_red: pmx-led-sata1-red {
				marvell,pins = "mpp42";
				marvell,function = "gpio";
			};

			pmx_beeper: pmx-beeper {
				marvell,pins = "mpp44";
				marvell,function = "gpio";
			};

			pmx_btn_power: pmx-btn-power {
				marvell,pins = "mpp46";
				marvell,function = "gpio";
			};

			pmx_pwr_sata1: pmx-pwr-sata1 {
				marvell,pins = "mpp47";
				marvell,function = "gpio";
			};

			pmx_pwr_off: pmx-pwr-off {
				marvell,pins = "mpp48";
				marvell,function = "gpio";
			};
		};

		/* This board uses the pcf8563 RTC instead of the SoC RTC */
		rtc@10300 {
			status = "disabled";
		};

		i2c@11000 {
			status = "okay";
			pinctrl-0 = <&pmx_twsi0>;
			pinctrl-names = "default";

			pcf8563: pcf8563@51 {
				compatible = "pcf8563";
				reg = <0x51>;
			};
		};

		serial@12000 {
			pinctrl-0 = <&pmx_uart0>;
			pinctrl-names = "default";
			status = "ok";
		};

		sata@80000 {
			status = "okay";
			nr-ports = <2>;
		};

		nand@3000000 {
			pinctrl-0 = <&pmx_nand>;
			pinctrl-names = "default";
			status = "okay";
			chip-delay = <35>;

			partition@0 {
				label = "uboot";
				reg = <0x0000000 0x0100000>;
				read-only;
			};
			partition@100000 {
				label = "uboot_env";
				reg = <0x0100000 0x0080000>;
			};
			partition@180000 {
				label = "key_store";
				reg = <0x0180000 0x0080000>;
			};
			partition@200000 {
				label = "info";
				reg = <0x0200000 0x0080000>;
			};
			partition@280000 {
				label = "etc";
				reg = <0x0280000 0x0a00000>;
			};
			partition@c80000 {
				label = "kernel_1";
				reg = <0x0c80000 0x0a00000>;
			};
			partition@1680000 {
				label = "rootfs1";
				reg = <0x1680000 0x2fc0000>;
			};
			partition@4640000 {
				label = "kernel_2";
				reg = <0x4640000 0x0a00000>;
			};
			partition@5040000 {
				label = "rootfs2";
				reg = <0x5040000 0x2fc0000>;
			};
		};

		pcie-controller {
			status = "okay";

			pcie@1,0 {
				status = "okay";
			};
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&pmx_btn_power &pmx_btn_copy &pmx_btn_reset>;
		pinctrl-names = "default";

		button@1 {
			label = "Power Button";
			linux,code = <116>;
			gpios = <&gpio1 14 0>;
		};

		button@2 {
			label = "Copy Button";
			linux,code = <133>;
			gpios = <&gpio1 5 1>;
		};

		button@3 {
			label = "Reset Button";
			linux,code = <0x198>;
			gpios = <&gpio1 4 1>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&pmx_led_sata1_green &pmx_led_sata1_red
			     &pmx_led_sata2_green &pmx_led_sata2_red
			     &pmx_led_sys_green &pmx_led_sys_orange
			     &pmx_led_copy_green &pmx_led_copy_red
			     &pmx_led_usb_green>;
		pinctrl-names = "default";

		green-sata2 {
			label = "nsa325:green:sata2";
			gpios = <&gpio0 12 0>;
		};

		red-sata2 {
			label = "nsa325:red:sata2";
			gpios = <&gpio0 13 0>;
		};

		green-usb {
			label = "nsa325:green:usb";
			gpios = <&gpio0 15 0>;
		};

		green-sys {
			label = "nsa325:green:sys";
			gpios = <&gpio0 28 0>;
			linux,default-trigger = "default-on";
		};

		orange-sys {
			label = "nsa325:orange:sys";
			gpios = <&gpio0 29 0>;
			linux,default-trigger = "cpu0";
		};

		green-copy {
			label = "nsa325:green:copy";
			gpios = <&gpio1 7 0>;
		};

		red-copy {
			label = "nsa325:red:copy";
			gpios = <&gpio1 8 0>;
		};

		green-sata1 {
			label = "nsa325:green:sata1";
			gpios = <&gpio1 9 0>;
		};

		red-sata1 {
			label = "nsa325:red:sata1";
			gpios = <&gpio1 10 0>;
		};
	};

	gpio_poweroff {
		compatible = "gpio-poweroff";
		pinctrl-0 = <&pmx_pwr_off>;
		pinctrl-names = "default";
		gpios = <&gpio1 16 0>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&pmx_led_mcu_data &pmx_usb_power_off &pmx_pwr_sata1>;
		pinctrl-names = "default";

/*
		watchdog_data: regulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "Watchdog Data";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 14 0>;
		};
*/

		usb_power: regulator@2 {
			compatible = "regulator-fixed";
			regulator-name = "USB Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&gpio0 21 0>;
		};

		sata1_power: regulator@3 {
			compatible = "regulator-fixed";
			regulator-name = "SATA1 Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&gpio1 15 0>;
		};
	};
};
